<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>footer</title>
  <style>

  </style>
</head>
<body>




<footer class="footer-container" th:fragment="footer">


  <ul class="footer-newsletter">
    <li><strong>Newsletter</strong> </li>

    <li class="text-2">Restez au courant de toutes les <br>
      nouveautés sur l'amicale</li>

    <li>

      <div class="Email-container">

        <label for="email">E-mail*</label>

        <div class="input-container">
          <input type="text" name="email" id="email" placeholder="votre E-mail" required>
          <button type="submit" class="subscribe-button">Rejoindre</button>
        </div>

      </div>

    </li>

  </ul>

  <ul class="footer-contact">
    <li> <strong>Parlez-nous</strong> </li>
    <li>77 516 37 55 <br> 77 516 37 55</li>
    <li>@amicaledesgabonaisism</li>
  </ul>

  <ul class="footer-rs">
    <li>INSTAGRAM</li>
    <li>FACEBOOK</li>
    <li>TIKTOK</li>
  </ul>

</footer>


</body>
</html>