<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <script th:src="@{/js/navbarCommunity.js}"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Accueil</title>




</head>
<body>

    <nav th:fragment="navbar">

        <div class="logo-amicale">
            <a th:href=@{/}>
                <img th:src="@{/images/logo-agi-removebg.png}" alt="logo_amicale">
            </a>
        </div>

        <div class="menu-overlay" id="menu-overlay" onclick="CloseMenu()"></div>

        <div class="menu-burger" id="menu-burger" onclick="toggleMenu()">
            <i class="fa-solid fa-bars"></i>
        </div>

        <ul class="menu-nav" id="menu">
            <li> <a th:href="@{/}"> Accueil </a> </li>
            <li> <a th:href="@{/public/aboutus}"> À propos</a> </li>
            <li><a th:href="@{/public/activites}"> Activités</a></li>
            <li><a th:href="@{/public/historique/bureau}"> Historique</a></li>
            <li><a th:href="@{/public/contact}" > Contact</a></li>
        </ul>

    </nav>



</body>
</html>
