<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" th:href="@{/css/navbarPresident.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <title>Title</title>
</head>
<body>

<nav th:fragment="navbar-office">


  <div class="logo-amicale">
    <a th:href="@{/president/accueil}">
      <img src="/images/logo-agi-removebg.png" alt="">
    </a>
  </div>

  <div class="menu-burger" id="burger-menu">
    <i class="fa-solid fa-bars"></i>
  </div>


  <ul class="menu-nav" id="nav-menu">
    <li> <a th:href="@{/president/accueil}">    Accueil     </a> </li>
    <li> <a th:href="@{/president/gestion}">    Gestion     </a> </li>
    <li> <a th:href="@{/president/parametre}">  Parametres  </a> </li>
  </ul>

</nav>



</body>
</html>