<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/footer1.css}">
    <link rel="stylesheet" th:href="@{/css/historique.css}">
    <link rel="stylesheet" th:href="@{/css/detailsHistorique.css}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>

    </style>

</head>
<body>

<!--  la nav bar  -->
<div th:replace="~{layout/navbar/navbar :: navbar}"></div>




    <div class="texte-detail-bureau">

        <p>
            Ce groupe dynamique et engagé a été soigneusement constitué pour représenter nos valeurs  <br>
            et mener à bien notre mission. Chaque membre du bureau apporte son énergie, son expertise <br>
            et son dévouement pour faire de notre amicale un lieu de partage, de solidarité et d'innovation.
        </p>

    </div>


    <div class="member-container">



        <div th:each="member: ${members}" class="M-container"
             th:style="| background-image: url(@{${member.PhotoUrl != null ? member.PhotoUrl : '/images/no-user-image.jpg'}}  ) |">

           <div class="M-container-info">
               <div class="membre_nom">
                   <strong> Nom : <span th:text="${member.nom}"></span> </strong>
               </div>

               <div class="membre_nom">
                   <strong> Prenoms : <span th:text="${member.prenoms}"></span> </strong>
               </div>

               <div class="membre_nom">
                   <strong> Poste : <span th:text="${member.role.rolename}"></span> </strong>
               </div>

               <div class="membre_matricule">
                   <strong> Matricule : <span th:text="${member.matricule}"></span> </strong>
               </div>
           </div>

        </div>

    </div>









<div th:replace="~{layout/footer/footer1 :: footer}"></div>
<!--  <div th:replace="~{layout/footer/footer :: footer}"></div> -->

<script>
  function toggleMenu() {
    const menu = document.getElementById("menu");
    menu.classList.toggle("menu-active");
  }
</script>


</body>
</html>