
body{
    margin: 0;
}

.background-image{
    background-image: url("/images/us2.jpg");
    background-attachment: scroll;
    background-repeat: no-repeat;

    background-size: cover;
    background-position: center;

    width: auto;
    height: 40Vh;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: rgba(241, 235, 235, 0.66);
    padding: 10px;
    margin: 0 80px;

    margin-bottom: 60PX;
}

.texte1{
    text-align: center;
    font-size: 40px;
    line-height: 1.4;
}

.texte2{
    text-align: center;
    font-size: 20px;
    line-height: 1.6;
}




.container2{
    display: flex;
    flex-wrap: wrap; /* Permet de "plier" les éléments sur plusieurs lignes */
    justify-content: center; /* Centre les éléments horizontalement */
    gap: 20px; /* Espace entre les éléments */
    padding: 20px;
}


.objectifs_title{
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
}

/* Chaque objectif individuel */
.objectif {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%; /* Chaque élément prend 45% de la largeur de l'écran */
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box; /* Inclut padding et bordure dans la taille totale */
}

.icone {
    font-size: 50px;
    margin-bottom: 15px;
    color: #333;
}

.objectif p {
    font-size: 25px;
    line-height: 1.6;
}



.agi-en-plus{
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
     margin-top: 60px;
}

.parent-container-divers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 5% 0;
   // background-color: #dd5012;
}




.divers-3{
    width: 100%; /* Ajuste selon tes besoins */
    //background-color: #5a1f91;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}


.divers-3-1,.divers-3-2,.divers-3-3{
    background-color: #247324;
    height: 50vh;
    width: 380px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    flex-direction: column;

}
.divers-3-1:hover,.divers-3-2:hover,.divers-3-3:hover{
    box-shadow: 6px 11px 10px rgb(0,0,0,0.5);
}

.divers-3-1,.divers-3-2,.divers-3-3 a{
    text-decoration: none;
}
.divers-3-1{
    background-image: url("/images/agidance.jpg");
    background-size: cover;
    background-position: center;
    //border: solid 4px rgb(182, 182, 65);
}
.divers-3-1-title{
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
}
.divers-3-1-contenu{
    width: 100%;
    background-color: #aeabab;
    text-align: center;
}
.divers-3-1-contenu p{
    font-size: 20px;
    color: white;
}


.divers-3-2{
    background-image: url("/images/agifoot.jpg");
    background-size: cover;
    background-position: center;
    border: solid 4px rgb(182, 182, 65);
}
.divers-3-2-title{
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
}
.divers-3-2-contenu{
    width: 100%;
    background-color: #aeabab;
    text-align: center;
}
.divers-3-2-contenu p{
    font-size: 19px;
    color: white;
    padding: 0 10px;
}


.divers-3-3{
    background-image: url("/images/liveagi.jpg");
    background-size: cover;
    background-position: center;
    //border: solid 4px rgb(182, 182, 65);
}
.divers-3-3-title{
    font-size: 30px;
    color: #858282;
    font-weight: bold;
}
.divers-3-3-contenu{
    width: 100%;
    background-color: #aeabab;
    text-align: center;
}
.divers-3-3-contenu p{
    font-size: 20px;
    color: white;
}



/* Media Query pour les écrans de largeur maximale 768px (tablette et mobile) */
@media screen and (max-width: 768px) {
    .container {
        margin: 0 20px;
        padding: 20px;
    }

    .texte1 {
        font-size: 30px;
    }

    .texte2 {
        font-size: 16px;
    }



    .objectifs_title{
        font-size: 30px;
    }

    .objectif {
        width: 45%;
        margin: 10px 5px;
    }

    .container2 {
        gap: 5px;
    }

    .objectif p {
        font-size: 14px;
    }







    .agi-en-plus{
        text-align: center;
        font-size: 35px;
        text-transform: uppercase;
        margin-top: 5%;
    }

    .parent-container-divers{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        margin-bottom: 0;
        // background-color: #dd5012;
    }

    .divers-3{
        gap: 0;
    }

    .divers-3-1,.divers-3-2,.divers-3-3{
        width: 100%;
    }
    .divers-3-2{
        border: none;
    }






}



/* Media Query pour les écrans de largeur maximale 480px (mobiles en portrait) */
@media screen and (max-width: 480px) {

}

