
body{
    padding: 0;
    margin: 0;
}
.background-image{
    background-image: url("/images/personnes.webp");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 90vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;


}


.texte-devise-agi P{

    color: white;
    font-size: 50px;
    font-weight: bold;
}


.carrés{
    display: flex;
    /*  margin-top: 20px;  */
     /* margin-bottom: 20px; */
}

.carré {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;


    width: 600PX;
    height: 400PX;
}

.carré a {
    text-decoration: none;
    color: black;
}

.carré p{
    color: white;
    font-size: 28px;
}


.fa-solid{
    color: white;
    font-size: 15px;
}

.rouge{
    background-color: rgb(186, 64, 64);
}

.bleu{
    background-color: #123f95;
}

.vert{
    background-color: #247324;
}

.jaune{
    background-color: #b6b641;
}


.background-image-2{
    /* background-image: url("/images/personnes.webp");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */

    height: 160vh;
    width: auto;

    display: flex;
    flex-direction: column;
    padding: 30px 40px ;
    margin-bottom: 50px;

    background-color: #ffffff;

}

.title-background-image-2{
    color: black;
    font-size: 30px;
    margin-bottom: 30px;
}

.line1{
    display: flex;
    flex: 1;
    flex-direction: row;
}

.line1-photo1, .line1-photo2, .line1-photo3{
    flex: 1;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.line1-photo1{
    background-color: red;
    background-image: url("/images/woman.jpg");
}


.line1-photo2{
    background-color:  #247324;

}
.line1-photo2 p, .line2-photo1 p, .line2-photo3 p{
    font-size: 30px;
    color: white;
    margin-left: 20px;
}

.line1-photo2 h2, .line2-photo1 h2, .line2-photo3 h2{
    color: white;
    margin-left: 20px;

    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}



.line1-photo3{
    background-color:  #123f95;
    background-image: url("/images/womans.webp");
}




.line2{
    display: flex;
    flex: 1;
    flex-direction: row;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4); /* horizontal verticale flou ; couleur= 1,2,3 ,opacite */

}
.line2-photo1 , .line2-photo2 , .line2-photo3{
    flex: 1;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.line2-photo1{
    background-color: #b6b641;
}


.line2-photo2{
    background-color: #5a1f91;
    background-image: url("/images/sportwoman.jpeg");
}

.line2-photo3{
    background-color:  #123f95;
}




@media  (max-width: 968px){
    .carrés{
        flex-wrap: wrap;
        justify-content: center;
    }


    .background-image-2{
        padding: 0;
        margin: 0;
    }

    .line2, .line1{
        display: flex;
        flex-direction: column;
    }

    .line1-photo1, .line1-photo2, .line1-photo3 ,
    .line2-photo1 , .line2-photo2 , .line2-photo3{
        width: 100%; height: 100%; margin: 0;
    }

    .line1-photo1, .line1-photo3 , .line2-photo2{
        background-attachment: fixed;
    }

    .line1-photo2 p, .line2-photo1 p, .line2-photo3 p{
        font-size: 20px;
        color: white;
        margin-left: 20px;
    }

    .line1-photo2 h2, .line2-photo1 h2, .line2-photo3 h2{
        color: white;
        margin-left: 20px;

        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
    }





}
