body{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%; /* Espace entre les éléments */
    padding: 8px;
}

.event{
    display: flex;

    flex-direction: column;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-sizing: border-box;

    /* Taille par défaut des éléments */
    width: 25%;
    height: 300px;
    margin: 10px 0 ;


    justify-content: flex-end;

    background-image: url("/images/fete.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.event a{
    text-decoration: none;
}
.title-activity{

    background: rgb(36, 115, 36);
    padding: 15px 20px;
    color: white;
    border-radius: 5px;
}





.pagination_container{
    display: flex;
    justify-content: center;
    margin-top: 20px;

    margin-bottom: 35px;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}

.pagination li{
    margin-right: 6px;
}

.pagination a {
    color: black;
    text-decoration: none;
    padding: 4px 6px;
    border: 1px rgb(75, 30, 11) solid;
    border-radius: 3px;
}

.pagination a:hover{
    color: white;
    background-color: rgb(234, 145, 47);
}

@media (max-width: 769px ) {


    .container{
        gap: 3%; /* Espace entre les éléments */
        padding: 4px;
    }

    .event{

        /* Taille par défaut des éléments */
        width: 45%;
        height: 300px;
        margin: 10px 0 ;

    }

}




