body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Assure que le body prend au moins la hauteur de la fenêtre */
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: rgba(250, 250, 239, 0.47);
    height: 90px;
    box-shadow: 0px 3px 2px rgba(49, 48, 48, 0.121); /* decalage horizontal decalage verticale flou couleur oppacité */
}

.logo-amicale img {
    height: 90px;
    width: auto;
}

.menu-burger {
    display: none;
    margin: 25px 0;
}

.fa-bars {
    color: rgb(9, 8, 8);
    font-size: 45px;
    cursor: pointer;
}


.menu-overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 19;

    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

}

.menu-nav {
    list-style: none;
    display: flex;
    padding: 20px 0px;
}

.menu-nav li {
    margin-right: 26px;
    cursor: pointer;
}

.menu-nav a{
    text-decoration: none;
    color: black;
}

.menu-nav li:hover {
    color: rgb(234, 145, 47);
}

.btn-connexion{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60%;
}

.btn-connexion button{
    font-size: 18px;
    border: none;
    color: white;
    padding: 8px 8px;
    border-radius: 5px;
    background-color: #123f95;

}

.btn-connexion button:hover{
    background-color:rgb(36, 115, 36) ;
}



@media screen and (max-width: 768px) and (orientation: portrait) {

    nav {
        padding: 10px 10px;
    }


    .menu-nav{
        display: none;
    }
    .menu-nav.active{
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        flex-direction: column;
        width: 55%;
        height: 100%;
        z-index: 20;
        top: 0;
        right: 0;

        //background-color: #247324;
        background-color: rgb(36 ,115 ,36 );
        margin: 0;

    }

    .btn-connexion{
        margin-left: 20%;
    }

    .menu-burger{
        display: block;
        z-index: 21;
    }

    .menu-overlay.active{
        display: flex;
    }

    .menu-nav a{
        color: white;
        font-size: 38px;
        align-items: flex-start;
    }
    .menu-nav li {
        margin:20px 0;
        cursor: pointer;

    }
    /* Règles pour le mode paysage */
    @media screen and (max-width: 768px) and (orientation: landscape) {
    }

}
