<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Formulaire Exemple</title>
    <style>
        html, body {
            height: 100%;
        }

        .form-container{
            background-color: rgb(234, 145, 47);
            padding: 4%;
            border-radius: 5px;
        }
        .centered-form {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .form-container {
            width: 400px; /* Ajustez la largeur ici */
        }

    </style>
</head>
<body>

<div class="container centered-form">

    <div class="form-container">

        <form id="LoginForm" th:action="@{/connexion}" method="post" th:object="${user}">
            <h2 class="text-center">connexion</h2>

            <div th:if="${error}" class="alert alert-danger">
                <p th:text="${error}">Erreur de connexion</p>
            </div>

            <div class="form-group">
                <label for="login">Login</label>
                <input type="text" class="form-control" id="login" name="login" placeholder="Entrez votre login" required>
            </div>

            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Entrez votre mot de passe" required>
            </div>

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <button type="submit" class="btn btn-primary btn-block">Se connecter</button>
        </form>


    </div>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



</body>
</html>
